<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>{{ recipe.name }}</title>
</head>
<body>
  <div class="main-header">
    <div class="brand">
      <a href="http://127.0.0.1:5000/">
        <img src="{{ url_for('static', filename='swe_foodfusion_logo.png') }}" 
             alt="SWE FoodFusion Logo" class="logo-img">
             </a>
        <div>

            <h1>SWE_FoodFusion</h1>
            <p class="muted">Smart Recipe Recommender</p>

        </div>
    </div>


   

  <div class="container" id="recipe">
   
<button class="btn btn-outline" onclick="window.history.back()">⬅ Back</button>
    <h1>{{ recipe.name }}</h1>

    {% if recipe.image %}
      <img src="{{ url_for('static', filename=recipe.image) }}" alt="{{ recipe.name }}">
    {% endif %}

    {% if recipe.diet %}
      <p><strong>Diet:</strong> {{ recipe.diet }}</p>
    {% endif %}
    {% if recipe.time %}
      <p><strong>Time:</strong> {{ recipe.time }} mins</p>
    {% endif %}

    <p><strong>Ingredients:</strong> {{ recipe.ingredients|join(', ') }}</p>
    <p><strong>Instructions:</strong> {{ recipe.instructions }}</p>

     <div class="action"></div>
 
 <button class="download_pdf" style="display:inline">Download as PDF</button>
  
 </div>
      
  </div>
 
<script type="text/javascript">
const download_pdf = document.querySelector('.download_pdf'); 
download_pdf.addEventListener('click', () => {
  print()
    alert('Recipe saved successfully!');
});

  </script>


</body>
</html>
